#home-image {
    width: 350px;
}

/* Tablet and Desktop Styles */
@media only screen and (min-width: 401px) {
    .page {
        max-width: 1325px;
        margin: 0 auto;
    }

    .content {
        display: flex;
    }

    .copy {
        margin: 20px;
    }
}