* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.page {
  color: #000000;
}

.navbar {
  background-color: #c0c0ff;
}

.content {
  padding: 10px;
  background-color: #fffff1;
}

#site-subtitle {
  white-space: normal;
}

.footer {
  height: 100px;
  padding: 10px;
  background-color: #c0c0ff;
}

.text {
  font-size: 20px;
}

/*
blue and light yellow
#c0c0ff
#fffff1
*/

/* 
Light red and turquoise
#c9ffff
#ffc9c9
*/

/*
Light red and very light turquoise
#ffc9c9
#eeffff
*/